
@import "tailwindcss";

/* 1. Paksa root dan body agar tidak bisa jadi putih */
:root {
  background-color: #020617 !important;
  color-scheme: dark;
}

body {
  background-color: #020617 !important; /* Slate-950 */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* 2. Hapus pengaturan default Geist yang mungkin masih nyangkut */
@theme inline {
  --color-background: #020617;
  --color-foreground: #ffffff;
  --font-sans: var(--font-jakarta), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-enjoy{
   font-family: "DM Sans", sans-serif;
}

html {
  overflow-y: scroll;
}

/* Hilangkan scrollbar tapi tetap bisa scroll */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}